้html, body {
  margin:0;
  padding: 0;
}
.navbar {
  /* background-color: #ffffff; */
  border-radius: 0;
  margin: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  /* width: 95%; */

  position: fixed;         /* ลอยอยู่บนสุด */
  top: 0;
  left: 0;
  right: 0;

  width: 100% !important;
  height: 15% !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
  background: #ffffff;
  z-index: 1000;
  
}
/* ปรับ branding ให้สวยขึ้น */
.navbar-brand {
  font-size: 1.3rem;
  font-weight: 600;
  color: #333 !important;
}

/* Nav Link */
.nav-link {
  color: #555 !important;
  font-size: 1rem;
  padding: 8px 15px;
  transition: 0.2s;
}

.nav-link:hover {
  color: #000 !important;
  background-color: #f2f2f2;
  border-radius: 4px;
}

/* Active link */
.nav-item.active .nav-link {
  color: #007bff !important;
  font-weight: 600;
}

/* Dropdown */
.dropdown-menu {
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

body {
  padding-top: 80px;
}
  